<head>
    <style>
        @import
        url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
        body{ font-family: "Open Sans","Arial","Roboto","sans-serif"; font-size:
        20px; text-align: center; } .title{ font-size: 25px; text-transform:
        uppercase; } table{ width: 100%; margin: auto; } table tr td{
        text-align: center; padding-bottom: 10px; } .code{ letter-spacing: 6px;
        border: dashed 2px #F5754E; border-radius: 10px; width: 160px;
        text-align: center; margin: auto; }
    </style>
</head>
<body>
    <table>
        <tbody>
            <tr>
                <td><p class="title">{{appName}}</p></td>
            </tr>

            <tr>
                <td><img
                        src="{{websiteUri}}/images/girl-walking.gif"
                        alt="#"
                    /></td>
            </tr>

            <tr>
                <td><p>{{translation
                            langFileName=lang
                            key="message.welcome-user-intro"
                            replaces=(json Username=username)
                        }}</p></td>
            </tr>

            <tr>
                <td><p>{{translation
                            langFileName=lang
                            key="message.welcome-user"
                        }}</p></td>
            </tr>

            <tr>
                <td>
                    <div class="code">
                        <p>{{confirmationCode}}</p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>
